
*.xcworkspacedata

*.xcscheme

EightDigitsTest.xcodeproj/xcuserdata/sth.xcuserdatad/xcschemes/xcschememanagement.plist

EightDigitsTest.xcodeproj/project.xcworkspace/xcuserdata/sth.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
